<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="~/Imagenes/unam.ico" />

    <title>@ViewBag.Title - IDA Economia</title>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularJs")
    @Scripts.Render("~/bundles/loadersJs")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>

        @*ENCABEZADOS*@
        <div class="container mw-100">
            <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav">
                        @*<a id="MenuHome" class="nav-item nav-link" href="~/Inicio/Inicio">
                            <i class="fa fa-fw fa-home"></i>
                            Inicio
                        </a>*@
                        <a id="MenuMercadoCapital" class="nav-item nav-link" href="~/MercadoCapital/MercadoCapital">
                            <i class="fa fa-fw fa-money-check-alt"></i>
                            Mercado de Capitales
                        </a>
                        <a id="MenuMercadoDivisa" class="nav-item nav-link" href="~/MercadoDivisa/MercadoDivisa">
                            <i class="fa fa-fw fa-coins"></i>
                            Mercado de Divisas
                        </a>
                        <a id="MenuMercadoDinero" class="nav-item nav-link" href="~/MercadoDinero/MercadoDinero">
                            <i class="fa fa-fw fa-money-bill-alt"></i>
                            Mercado de Dinero
                        </a>
                        <a id="AdmonUsuario" class="nav-item nav-link" href="~/Usuario/Usuario">
                            <i class="fa fa-fw fa-user-circle"></i>
                            Admon. Usuario
                        </a>
                    </div>
                </div>
            </nav>
        </div>


        <div class="container body-content mw-100">
            @*CUERPO*@
            <div class="contenido-cuerpo">
                @RenderBody()
            </div>

            <hr />

            @*PIE DE PAGINA*@
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>


        @*MODAL CARGAR*@
        <div id="myModalLoader" class="modal fade modal-center" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <span class="modal-center-loading">Cargando...</span>
                <main>
                    <div class="loaders">
                        <div class="loader">
                            <div class="loader-inner ball-clip-rotate-multiple">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        @RenderSection("scripts", required: false)


    </div>
</body>
</html>
